body{
    background-color: antiquewhite;
    margin: 10em;
}

header{
    font-size: 10em;
    color: chartreuse;
    border-bottom: solid;
    text-align: center;
}

footer{
padding: 30px ;
}

.left{
    float: left;
    padding: 10px;
    border-right: solid;
}

.right{
    float: right;
    padding: 10px;
    border-left: solid;
}

.contaner{
    padding: 20px;
}

main{
padding: 10em;

}
.nav{

}