body{
    background-color: antiquewhite;
    margin: 10em;
}

header{
    font-size: 10em;
    color: chartreuse;
    border-bottom: solid;
    text-align: center;
}

footer{
padding: 10px ;
}

.left{
    float: left;
    padding: 2em;
    border-right: solid;
    width: 20%;
}

.right{
    float: left;
    padding: 2em;
    border-left: solid;
    width: 20%;
}

.contaner{
    padding: 10em;
    

}

main{
padding: 2em;
margin: 2em;
float: left;
width:60%;
}
.nav{

}