body{
    background-color: antiquewhite;
    
}

header{
    font-size: 10em;
    color: chartreuse;
    border-bottom: solid;
}

footer{
padding: 30px ;
}

.left{
    float: left;
    padding: 10px;
}

.right{
    float: right;
    padding: 10px;
}

.contaner{
    padding: 20px;
}

.nav{

}